.container {
  width: 250px;
  min-width: 250px;
  font-size: 14px;
  background: transparent;
  margin-right: 10px;
  padding-right: 0;
  padding-left: 0;
  position: relative;
  left: 0;
  display: block;
  transform: translateZ(0);
  transition: transform 0.3s ease-out;
  > div:nth-child(2) {
    border-top: 1px solid black !important;
  }
}
.hide {
  transform: translate3d(-500px, 0, 0);
  width: 0;
  max-width: 0;
  min-width: 0;
  display: block;
  height: 100%;
  position: absolute;
}
