@import "mixins";

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.logo {
  height: 1em;
}

.home__container {
  h1 {
    font-size: 2rem;
  }

  padding-left: calc(50% - var(--container-width) / 2) !important;
  padding-right: calc(50% - var(--container-width) / 2) !important;
  width: 100%;

  .home__title {
    margin-bottom: 2rem;
  }

  .articles__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    .articles__container_item {
      @include tablet() {
        flex-wrap: wrap;
        padding: 5px 5px;
      }

      width: 100%;
      padding: 15px 15px 15px;
      box-shadow: 2px 3px #000;
      margin-bottom: 1rem;
      border-radius: 7px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .tag__container {
        margin-bottom: 10px;
        width: 100%;
        display: flex;
        height: 100%;
        justify-content: flex-start;
        .tag {
          color: #ffffff !important;
          padding: 0 6px;
          border-radius: 2px;
          display: block;
        }
      }
      .articles__container_title {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;

        .articles__author {
          display: flex;
          justify-content: space-between;
          font-size: 12px;
        }
        h2 {
          cursor: pointer;
          margin: 0rem;
        }
      }
      .articles__votes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        span {
          margin-bottom: -2px;
          margin-top: -2px;
          font-weight: bold;
        }
      }

      .articles__image {
        cursor: pointer;
        img {
          width: 100%;
          display: block;
          max-width: 100%;
          max-height: 450px;
          height: auto;
          aspect-ratio: auto 1920 / 1080;
        }
      }

      .articles__description {
        display: block;

        p {
          line-height: 21px;
          margin: 0 0 10px;
        }
        button {
          padding: 7px 15px;
          background: black !important;
          color: white !important;
          font-size: 12px;
          display: inline-block;
          text-align: center;
          line-height: 21px;
          border: none;
          cursor: pointer;
        }
      }
    }
  }
}

.my__masonry_grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: calc(50% - var(--container-width) / 2) !important;
  // margin-left: -30px; /* gutter size offset */
  width: auto;
}

.my__masonry_grid_column {
  padding-left: 15px; /* gutter size */
  background-clip: padding-box;
}

.my__masonry_grid_column:first-child {
  padding-left: 0;
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 30px;
}

.grid__carousel {
  width: 100%;
  background: white;
  margin: auto;
  height: 500px;

  .grid__item {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    margin-bottom: 4px;
    margin-right: 4px;

    .thumb__overlay {
      padding: 20px 20px 15px;

      .thumb__categories {
        float: left;
        position: relative;
        z-index: 3;
        pointer-events: auto;
        margin-bottom: 5px;
        font-weight: normal;
        font-family: inherit !important;
        line-height: 0;
        display: block;
        z-index: 50;
        .post__cat {
          display: inline-block;
          color: #ffffff !important;
          padding: 0 6px;
          font-size: 12px;
          line-height: 1.85em;
          margin-right: 4px;
          position: relative;
          white-space: nowrap;
          word-wrap: normal;
          letter-spacing: 0;
          transition: 0.3s;
          border-radius: 2px;
        }
      }
      .thumb__content {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0 30px 20px;
        z-index: 3;
        width: 100%;
        pointer-events: none;
        transition: bottom 0.3s;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;

        h2 {
          color: white !important;
          text-shadow: 0 0 10px rgb(0 0 0 / 90%);
        }
        @media screen and (max-width: 1024px) {
          padding: 0px 10px 8px;
        }
        @media screen and (max-width: 500px) {
          font-size: 10px;
        }
      }
    }
  }

  .grid__item:first-child {
    float: left;
    height: 100%;
    width: calc(50% - 4px);
  }

  .grid__item:nth-child(2) {
    width: 50%;
    float: right;
    height: calc(50% - 2px);
    margin-right: 0;
  }

  .grid__item:nth-child(3) {
    float: left;
    width: calc(25% - 4px);
    height: calc(50% - 2px);
  }

  .grid__item:nth-child(4) {
    float: left;
    width: calc(25% - 4px);
    height: calc(50% - 2px);
  }

  @media only screen and (max-width: 991px) {
    .grid__item:first-child {
      width: 100%;
      height: 40%;
    }

    .grid__item:nth-child(2) {
      height: calc(30% - 4px);
      width: 100%;
    }

    .grid__item:nth-child(3) {
      height: calc(30% - 4px);
      margin-right: 4px;
      width: calc(50% - 4px);
    }

    .grid__item:nth-child(4) {
      width: 50%;
      height: calc(30% - 4px);
      margin-right: 0;
    }
  }

  @media only screen and (max-width: 500px) {
    display: block;
    height: 100%;
    .grid__item:first-child,
    .grid__item:nth-child(2),
    .grid__item:nth-child(3),
    .grid__item:nth-child(4) {
      width: 100% !important;
      margin-right: 0 !important;
      height: 120px;
    }
  }
}

.load__more {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  button {
    padding: 10px 15px;
  }
}

.Technologie {
  background: rgb(112, 74, 140) !important;
}

.Animaux {
  background: rgb(140, 114, 74) !important;
}

.Musique {
  background: rgb(140, 74, 74) !important;
}

.Mode {
  background: rgb(74, 103, 140) !important;
}

.Voyage {
  background: rgb(48, 95, 53) !important;
}

.Lecture {
  background: rgb(54, 104, 116) !important;
}

.Sport {
  background: rgb(124, 114, 36) !important;
}
