.brand__header {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("https://images01.nicepage.com/bd/ad/bdadf307ce501efc148a9101f2bbf588.jpeg");
  background-position: 50% 50%;
  object-fit: cover;
  display: block;
  background-size: cover;
  overflow: visible;
  width: 100%;
  background-repeat: no-repeat;
}

.white__line {
  width: 60px;
  height: 1px;
  transform-origin: left center;
  margin: 15px auto 0 0;
  border-right-width: 0;
  border-left-width: 0;
  border-bottom-width: 0;
  border: 1px solid white;
}

.section__1,
.section__2,
.section__3,
.section__4,
.section__5,
.section__6,
.section__7 {
  h2 {
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
    font-size: 2.2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Roboto, sans-serif;
    text-align: left;
    color: #272b2e;
  }
}

.sheet {
  min-height: 250px;
  position: relative;
  margin: 0 auto;
  width: 1140px;
}

.sheet__whyus {
  min-height: 417px;
  margin: -712px auto 0;
  width: 1140px;
  height: 100%;
}

.vertical__line {
  height: 80px;
  width: 3px;
  transform-origin: center top;
  margin: 10px auto;
  background: #ff3c00;
}

.content__50 {
  flex: 0 0 50%;
  max-width: 50%;
}

.section__1 {
  .shape__1 {
    width: 358px;
    height: 226px;
    margin: 3px auto -120px -20px;
    color: #ffffff;
    background-color: #ff3c00;
    position: relative;
    z-index: 2;
  }

  .header__info {
    width: 799px;
    min-height: 600px;
    height: auto;
    margin: 109px auto 0;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    h1 {
      font-weight: 700;
      text-transform: capitalize;
      line-height: 1.1;
      font-size: 6rem;
      margin-top: 20px;
      margin-bottom: 20px;
      margin: 40px 60px 0;
    }
    p {
      font-weight: 400;
      line-height: 1.6;
      font-size: 1rem;
      margin-top: 20px;
      margin-bottom: 20px;
      margin: 30px 60px 40px;
      font-weight: bold;
    }
  }
}
.section__2 {
  display: block;
  position: relative;
  width: 100%;
  background: white;
  .shape__2 {
    width: 358px;
    height: 226px;
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: initial;
    margin-left: 810px;
    color: #272b2e;
    background-color: #d7dde3;
  }

  .container {
    margin: -343px auto 0 0;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
    .layout {
      margin: -26.5px;
      .layout__row {
        flex-direction: row;
        flex-wrap: wrap;
        min-height: 100%;
        max-width: 100%;
        display: flex;
        flex: 1 1 100%;
        .cell__1,
        .cell__2,
        .cell__3 {
          flex: 0 0 33.33333333%;
          max-width: 33.33333333%;
          border: 15px solid transparent;
          color: #ffffff;
        }

        .cell__1 {
          z-index: 2;
          position: relative;
          > div {
            background-color: #333333;
          }
        }

        .cell__2 {
          > div {
            background-color: #ff3c00;
          }
        }

        .cell__3 {
          > div {
            background-color: #38324f;
          }
        }

        .container__layout {
          padding-left: 30px;
          padding-right: 30px;
          display: flex !important;
          flex-direction: column;
          justify-content: center;
          color: #fff;
          min-height: 348px;

          h3 {
            font-weight: 700;
            text-transform: capitalize;
            line-height: 1.2;
            font-size: 1.875rem;
            margin-top: 20px;
            margin-bottom: 20px;
          }

          p {
            font-weight: 400;
            line-height: 1.6;
            font-size: 1rem;
            margin-top: 20px;
            margin-bottom: 20px;
            margin: 30px 0;
          }
        }
      }
    }
  }
}

.section__3 {
  .container {
    margin: 90px auto;
    min-height: 300px;

    .content {
      display: flex;
      flex-direction: column;

      .info {
        flex: 30 0 50%;
        max-width: 100%;
        display: flex;
        .horizontal__line {
          flex: 0 0 20%;
          max-width: 20%;
          > div {
            width: 118px;
            margin: 30px auto;
            border: 3px solid #ceaeb4;
          }
        }

        p {
          padding: 0 10px;
          font-size: 1.2rem;
          margin: 0 0 20px;
          color: #272b2e;
          text-align: left;
          margin-top: 34px;
          margin-bottom: 14px;
          line-height: 28.8px;
        }
      }
    }
  }
}

.section__4 {
  position: relative;
  display: block;
  width: 100%;
  background: white;
  .shape__3 {
    width: 1100px;
    height: 226px;
    margin: 496px 0 0 auto;
    color: #ffffff;
    background-color: #ff3c00;
  }

  .container {
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 100%;
    max-width: 100%;
    flex: 1 1 100%;
    overflow: hidden;
    display: flex;
    margin: 110px auto 0 auto;
    // width: 1140px;
    .content {
      flex: 0 0 50%;
      max-width: 50%;
      color: #272b2e;
      background-color: #ffffff;
      position: relative;

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        padding-left: 16px;
        padding-right: 16px;
        margin-top: 2rem;
        .icon {
          display: block;
          line-height: 0;
        }

        .svg__link {
          width: 100%;
          height: 100%;
          fill: #ff3c00;
        }

        li {
          // width: 425px;
          min-height: 125px;
          height: auto;
          margin: 20px auto 0 0;

          .item__content {
            padding-right: 24px;
            padding-left: 65px;
            position: relative;
            flex: 1;
            max-width: 100%;

            span {
              height: 41px;
              width: 41px;
              margin-top: 0;
              margin-bottom: 0;
              margin-left: -65px;
              position: relative;
            }
          }

          h6 {
            width: auto;
            margin: -25px 0 0;
            color: #292e33 !important;
            font-weight: 700;
            text-transform: capitalize;
            line-height: 1.2;
            font-size: 1.125rem;
            font-family: Roboto, sans-serif;
          }
          p {
            color: #272b2e;
            font-style: italic;
            font-size: 0.875rem;
            margin: 20px 20px 10px 90px;
            width: auto;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 15px;
          }
        }
      }
    }
    .content__50 {
      background-position: 50% 50%;
      min-height: 544px;
      background-image: url("https://images02.nicepage.com/c461c07a441a5d220e8feb1a/6744c5ef230459bdb168b01e/452726b6d0dd39f7e9fa5e63507d94d6.jpg");
      background-image: url("/marque/why__us.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.section__5 {
  position: relative;
  display: block;
  width: 100%;
  background: white;
  .shape__4 {
    height: 1200px;
    margin: 0 0 0 auto;
    color: #ffffff;
    background-color: #ff3c00;
    width: 1200px;
  }

  .sheet {
    min-height: 1700px;
    margin: -1035px auto 0;

    .column {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 2rem;
      .row {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1.4rem;

        .image__1,
        .image__2,
        .image__3,
        .image__4,
        .image__5,
        .image__6,
        .image__7,
        .image__8,
        .image__9,
        .image__10,
        .image__11,
        .image__12 {
          min-height: 389px;
          background-position: 50% 50%;
          background-repeat: no-repeat;
          background-size: cover;
          @media (max-width: 767px) {
            min-height: 340px;
          }
        }

        @media (max-width: 767px) {
          .image__3,
          .image__7 {
            display: none;
          }
        }

        .image__1 {
          background-image: url("/marque/image__1.jpg");
        }

        .image__2 {
          background-image: url("/marque/image__2.jpg");
        }

        .image__4 {
          background-image: url("/marque/image__4.jpg");
        }
        .image__5 {
          background-image: url("/marque/image__5.jpg");
        }

        .image__6 {
          background-image: url("/marque/image__6.jpg");
        }

        .image__8 {
          background-image: url("/marque/image__8.jpg");
          background-size: inherit;
          background-position: 16% 73%;
        }

        .image__9 {
          background-image: url("/marque/image__9.jpg");
          background-size: inherit;
          background-position: 32% 100%;
        }

        .image__10 {
          border: 15px solid transparent;
          min-height: 389px;
          > div {
            padding-left: 20px;
            padding-right: 20px;
            h3 {
              position: relative;
              margin: 20px 0 0;
              font-weight: 700;
              text-transform: capitalize;
              line-height: 1.2;
              font-size: 1.875rem;
              margin-top: 20px;
              margin-bottom: 20px;
            }

            p {
              position: relative;
              margin: 20px 0 175px;
              font-weight: 400;
              line-height: 1.6;
              font-size: 1rem;
              margin-top: 20px;
              margin-bottom: 20px;
            }
          }
        }

        .image__11 {
          background-image: url("/marque/image__11.jpg");
        }

        .image__12 {
          background-image: url("/marque/image__12.jpg");
          background-position: 80% 100%;
          background-size: inherit;
        }
      }
    }
  }
}

.section__6 {
  position: relative;
  display: block;
  width: 100%;
  background: white;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .stats {
      flex-wrap: wrap;
      min-height: 100%;
      max-width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      > div {
        min-height: 199px;
        margin: 2rem;
        align-items: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
      }
      span {
        font-size: 4.5rem;
        margin: 19px 0 0;
        font-weight: 700;
        text-transform: capitalize;
        line-height: 1.1;
        font-size: 6rem;
        margin-top: 20px;
        margin-bottom: 20px;
        color: #ff3c00;
        text-align: center;
      }
      h5 {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 600;
        font-size: 1.3rem;
        margin: 20px 0 19px;
        color: #272b2e;
      }
    }
  }
}

.section__7 {
  position: relative;
  display: block;
  width: 100%;
  margin: 90px auto 0 auto;
  min-height: 300px;
  h2 {
    text-align: left !important;
    margin-right: 1rem !important;
  }
  .container {
    display: flex;
    justify-content: space-around;
    .contact__image {
      display: flex;
      position: relative;
      flex: 1;
      max-width: 100%;
      img {
        width: 477px;
        height: 694px;
        object-position: 0% 50%;
        background-position: 0% 50%;
        margin: -110px auto 30px;
      }
      .shape__5 {
        height: 270px;
        margin: 360px 30px 0 auto;
        width: 172px;
        margin-right: 25px;
        position: absolute;
        z-index: -1;
        right: 0;
        background-color: #ff3c00;
      }
    }
    .contact__info {
      display: flex;
      flex-direction: column;
      min-height: 100%;
      border: 25px solid transparent;
      p {
        margin-top: 84px;
        margin-right: 16px;
        margin: 30px 20px 0 0;
        font-weight: 400;
        line-height: 1.6;
        font-size: 1.2rem;
        color: #272b2e;
      }

      button {
        padding: 10px 10px;
        margin-top: 3rem;
        margin-bottom: 68px;
        margin-left: 0;
        background-color: transparent !important;
        border: 2px solid #ff3c00;
        width: 200px;
        text-transform: uppercase;
        &:hover {
          background-color: #ff3c00 !important;
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .sheet {
    width: 940px;
  }

  .sheet__whyus {
    width: 940px;
  }

  .section__1 {
    .header__info {
      width: 885px;
      min-height: 649px;
      margin-top: 66px;
    }
    .shape__1 {
      width: 299px;
      height: 229px;
      margin-top: 49px;
      margin-bottom: -123px;
    }
  }
  .section__2 {
    .shape__2 {
      width: 295px;
      margin-left: 668px;
    }
  }
  .section__4 {
    .shape__3 {
      width: 700px;
    }
    /*  .container {
      .content {
        .content__50 {
        }
      }
    } */
  }
  .section__5 {
    .shape__4 {
      width: 700px;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .sheet {
    width: 720px;
  }

  .sheet__whyus {
    width: 720px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .sheet {
    width: 540px;
  }

  .sheet__whyus {
    width: 540px;
  }
}

@media (max-width: 991px) {
  .section__1 {
    .header__info {
      min-height: 365px;
      margin-top: 106px;
    }
    .shape__1 {
      width: 222px;
      height: 226px;
      margin-top: 32px;
      margin-bottom: -120px;
      margin-left: -17px;
    }
  }
  .section__2 {
    .shape__2 {
      width: 226px;
      height: 235px;
      margin-bottom: 0;
      margin-left: 516px;
    }
  }

  .section__4 {
    .shape__3 {
      width: 700px;
    }
    .container {
      .content {
        .content__50 {
          min-height: 504px;
          background-position: 20.37% 50%;
        }
      }
    }
  }
  .section__5 {
    .shape__4 {
      width: 700px;
    }
  }
}

@media (max-width: 767px) {
  .sheet__whyus {
    margin-top: -1266px;
    width: 540px;
  }

  .section__1 {
    .header__info {
      width: 100% !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
      h1 {
        font-size: 4rem;
      }
      p {
        margin: 30px 0 0 0;
      }
    }
    .shape__1 {
      width: 403px;
      height: 276px;
      margin-top: 30px;
      margin-bottom: -168px;
      margin-left: 0;
    }
  }
  .section__2 {
    .shape__2 {
      width: 376px;
      height: 219px;
      margin-top: 793px;
      margin-right: 0;
      margin-left: auto;
    }
    .container {
      width: 476px;
      margin-top: -1091px;
      margin-right: auto;
      margin-left: 32px;
      .layout {
        margin: -15px;
        .layout__row {
          > * {
            min-width: 100%;
          }
        }
      }
    }
  }

  .section__3 {
    .container {
      .content {
        .info {
          flex-direction: column;
        }
        .horizontal__line {
          flex: 0 0 30% !important;
          max-width: 30% !important;
        }
      }
    }
  }

  .section__4 {
    .shape__3 {
      width: 500px;
      height: 813px;
      margin-top: 454px;
      margin-right: 0;
    }
    .container {
      > * {
        min-width: 100% !important;
      }
    }
  }
  .section__5 {
    .shape__4 {
      width: 500px;
    }
    .column {
      .row {
        grid-template-columns: 1fr !important;
      }
    }
  }

  .section__6 {
    .container {
      .stats {
        flex-direction: column;

        > div {
          margin: 0;
          min-height: 0;
        }
        span {
          font-size: 3rem;
        }
      }
    }
  }

  .section__7 {
    margin: 2rem 0 0 0;
    .container {
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      .contact__image {
        img {
          margin: 0;
          width: 303px;
          height: 430px;
        }
      }

      .contact__info {
        align-items: center;
        border: 15px solid transparent;

        p {
          margin: 0 0 2rem 0;
          text-align: center;
        }
        button {
          margin: 0 0 2rem 0;
        }
      }

      > * {
        display: flex;
        justify-content: center;
        min-width: 100% !important;
      }

      h2 {
        text-align: center;
        margin-right: 0;
      }
    }
  }
}

@media (max-width: 575px) {
  .sheet__whyus {
    margin-top: -1366px;
    width: 340px;
    max-width: 340px;
  }

  .sheet {
    width: 340px;
    max-width: 340px;
  }

  .section__1 {
    .header__info {
      h1 {
        font-size: 3rem;
      }
    }
    .shape__1 {
      width: 289px;
      max-width: 289px;
      height: 235px;
      margin-bottom: -127px;
    }
  }
  .section__2 {
    .shape__2 {
      height: 258px;
      width: 268px;
      max-width: 268px;
      margin-top: 632px;
    }
    .container {
      width: 294px;
      margin-top: -975px;
      margin-left: 23px;
      max-width: 294px;
    }
  }

  .section__4 {
    .shape__3 {
      width: 270px;
      max-width: 270px;
    }
  }
  .section__5 {
    .shape__4 {
      width: 270px;
      max-width: 270px;
    }
  }

  .section__7 {
    .container {
      align-items: center;
      justify-content: center;

      .contact__image {
        img {
          margin: 0;
          width: 303px;
          height: 492px;
        }
      }

      > * {
        display: flex;
        justify-content: center;
        min-width: 100% !important;
      }

      h2 {
        text-align: center !important;
      }
    }
  }
}
