.warning {
  padding: 5px;
  width: 100%;
  background-color: #d4d4d4;
  margin-bottom: 1rem;
  margin-top: 1rem;
  h3 {
    color: rgb(243, 70, 70);
  }
  min-width: 300px;
}

.header {
  width: 100%;
  background-color: #d4d4d4;
  margin-bottom: 1rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  font-weight: bolder;
  min-width: 300px;
}

.content {
  min-width: 300px;
  display: flex;
  justify-content: space-between;
  > div {
    display: flex;
    align-items: center;
    padding: 5px;
  }
  a {
    color: #004b91;
    &:hover {
      text-decoration: underline;
    }
  }
}

.reason {
  min-width: 300px;
  margin-top: 2rem;
}

.action {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  .confirm {
    border: 1px solid black;
    background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
    &:hover {
      background: linear-gradient(to bottom, #f2e0b7, #f0cf7c);
      color: black;
    }
    margin-bottom: 1rem;
  }

  .return {
    background: white;
    color: black;
    margin-bottom: 5px;
    padding: 5px 25px;
    border: 1px solid black;
    &:hover {
      background: black;
      color: white;
    }
  }
}

@media only screen and (max-width: 1083px) {
  .action {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 767px) {
  .action {
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    .confirm {
      width: 100%;
      margin-bottom: 0.5rem;
    }
    .return {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 575px) {
  .action {
    .confirm,
    .return {
      padding: 0;
    }
  }
}
