.cart {
  width: 350px;
  position: fixed;
  top: 0;
  right: 0;
  transform: translate3d(350px, 0, 0);
  transition: transform 0.15s ease-out;
  z-index: 2000;
  height: 100%;
  overflow: auto;
  scroll-padding-top: 90px;
  border: 1px solid black;
  background: white;

  @media only screen and (max-width: 575px) {
    width: 100%;
    transform: translate3d(575px, 0, 0);
  }
}

.open {
  transform: translateZ(0);
}
