.header {
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  h1 {
    text-align: center;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.5px;
    font-weight: bolder;
    color: white;
  }
  .close {
    font-size: 0.8rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: bold;
    button {
      padding: 0;
      color: white;
      width: 24px !important;
      min-width: 24px;
    }
  }
}
.content {
  padding: 10px;
  min-width: 300px;
  ul {
    list-style: none;
    padding: 0;
    margin-bottom: 2rem;
    li {
      padding: 10px 0;
      display: inline-grid;
      grid-template-columns: 120px auto;
      width: 100%;
      border-bottom: 1px solid lightgray;
      div:nth-child(1) {
        background-position: 50%;
        background-repeat: no-repeat;
        height: 100%;
      }
      > div:nth-child(2) {
        position: relative;
        display: flex;
        flex-direction: column;
        > div:nth-child(1) {
          padding-bottom: 5px;
          line-height: 15px;
          h3 {
            font-size: 1rem;
            display: -webkit-box;
            overflow: hidden;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            font-weight: 600;
            font-family: monospace;
            letter-spacing: 0.1px;
          }
          > div:nth-child(2) {
            display: table-cell;
            vertical-align: middle;
            span {
              font-size: 0.75rem;
              color: grey;
              font-weight: 600;
            }
            span:nth-child(3) {
              font-size: 0.75rem;
              font-weight: 600;
            }
          }
        }

        > div:nth-child(2) {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-direction: row;
          padding-bottom: 5px;
          input {
            width: 60px;
            border-radius: 0;
            padding: 5px;
          }
        }

        div:nth-child(3) {
          display: table-cell;
          vertical-align: middle;
          span {
            font-size: 0.75rem;
            padding-right: 5px;
            color: #0066c0;
            cursor: pointer;
            &:hover {
              color: orange;
            }
          }
          span:nth-child(2) {
            color: black;
          }
        }
      }
    }
  }
  p {
    display: flex;
    justify-content: space-between;
  }

  .total {
    font-size: 1.2rem;
    padding: 10px 0;
    margin-bottom: 2rem;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
  }

  .routing {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    a,
    button {
      width: 100%;
    }
    .action__cart {
      border: 1px solid black;
      margin-bottom: 0.5rem;
    }

    .action__payment {
      border: 1px solid black;
      &:hover {
        background: black !important;
        color: white;
      }
    }
  }
}
