.list {
  list-style: none;
  margin: 0.5rem 0;
  padding: 0;
  width: 100%;
  .item {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 5px;
    width: 100%;
    padding: 15px;
    margin-bottom: 1rem;
    .profile {
      display: flex;
      align-items: center;
      .avatar {
        padding-right: 5px;
        img {
          border-radius: 34px;
          border: 2px solid #fff;
          height: 34px;
          width: 34px;
        }
      }
      .profile__name {
        min-height: 34px;
      }
    }

    .header {
      display: flex;
      align-items: center;
      .header__title {
        padding-left: 5px;
        font-weight: 700;
      }
    }

    .comment {
      padding: 5px;
      line-height: 16px;
      margin-bottom: 0.5rem;
    }

    .date {
      color: rgb(119, 119, 119);
      margin-bottom: 0.5rem;
    }

    .review {
      line-height: 16px;
      button:first-child {
        margin-right: 0.5rem;
        &:hover {
          background: black;
          color: white;
        }
      }
      button {
        margin-top: 5px;
        padding: 0 10px;
        border-radius: 5px;
        border: 1px solid black;
      }
    }
  }
}
