@import "./tools/functions.scss";
@import "mixins";

.container {
  --space: 8px;
  --col: 350px;
  --smallcoll: 200px;
  padding: 20px;
  border: 1px solid #eaecef;
  border-radius: 5px;
  min-height: 100vh;
  width: 100%;
  @include mobile() {
    width: 96%;
  }

  .header {
    margin-bottom: 15px;
    text-align: center;
    text-shadow: none;
    background-color: transparent;
    border: 0;
    color: black;
    display: flex;
    align-items: center;
  }

  .flex_image {
    width: 100%;
    min-width: 350px;
    input,
    textarea,
    select {
      border: 1px solid #d5e3ec;
      background: white;
      border-radius: 3px;
      color: #121c42;
      padding: space(1.5) space(1);
      display: block;
      width: 100%;
      outline: none;
      min-height: 44px;
      width: 100%;
      border-radius: 5px;
      &:focus {
        font-weight: bold;
      }
    }
    img {
      height: 100%;
      max-height: 500px;
    }
  }

  .grid {
    width: 100%;
    display: grid;
    grid-gap: space(1);
    grid-template-columns: repeat(auto-fill, minmax(var(--col, 275px), 1fr));

    @include mobile() {
      display: flex;
      flex-direction: column;
    }
    input textarea,
    select {
      border: 1px solid #d5e3ec;
      background: white;
      border-radius: 3px;
      color: #121c42;
      padding: space(1.5) space(1);
      display: block;
      width: 100%;
      outline: none;
      min-height: 44px;
      width: 100%;
      border-radius: 5px;
      &:focus {
        font-weight: bold;
      }
    }
    button {
      background-color: transparent;
      border: none;
      font-weight: bold;
      cursor: pointer;
      &:hover {
        color: black;
      }
    }
  }

  .grid_small {
    width: 100%;
    display: grid;
    grid-gap: space(1);
    grid-template-columns: repeat(
      auto-fill,
      minmax(var(--smallcoll, 275px), 1fr)
    );

    @include mobile() {
      display: flex;
      flex-direction: column;
    }
    input,
    textarea,
    select {
      border: 1px solid #d5e3ec;
      // background: #f7fafb;
      background: white;
      border-radius: 3px;
      color: #121c42;
      padding: space(1.5) space(1);
      display: block;
      width: 100%;
      outline: none;
      min-height: 44px;
      width: 100%;
      border-radius: 5px;
    }
    button {
      background-color: transparent;
      border: none;
      font-weight: bold;
      cursor: pointer;
      background: white;
      width: 30px;

      &:hover {
        color: black;
      }
    }
  }
}
