.sidebar__container {
  flex-direction: column;
  justify-content: flex-start !important;
  background: #121f31 !important;
  align-items: center;
  .sidebar__title {
    border-bottom: 2px solid white;
    color: white;
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding: 15px;
  }
  width: 300px;
  display: flex;
  justify-content: center;
  top: 0;
  left: -100%;
  transition: 850ms;
  .sidebar__menu {
    list-style: none;
    padding: 0;

    font-weight: 600;
    color: white;
    margin-top: 2rem;
    .sidebar__item {
      display: flex;
      justify-content: flex-start;
      font-size: 1.3rem;
      //   align-items: center;
      //   padding: 8px 0px 8px 16px;
      list-style: none;
      cursor: pointer;
      flex-direction: column;
      margin-bottom: 1rem;
      border-bottom: 0.5px solid white;
      &:hover {
        color: orange;
      }
    }

    .sidebar__topitem {
      display: flex;
      justify-content: flex-start;
      font-size: 1.3rem;
      //   align-items: center;
      //   padding: 8px 0px 8px 16px;
      list-style: none;
      flex-direction: column;
      margin-bottom: 1rem;

      .sidebar__subitem {
        list-style: none;
        font-size: 1.1rem;
        border-bottom: 0.5px solid white;
        &:first-child {
          margin-top: 0.5rem;
        }
        cursor: pointer;
        &:hover {
          color: orange;
        }
      }
    }
  }

  @media screen and (max-width: 1024px) {
    width: 100%;
  }
}

.active {
  display: none;
  transition: 350ms;
}
