.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 12px;
  margin-bottom: 1rem;
  > div {
    padding: 5px;
    cursor: pointer;
    &:hover {
      color: black;
      font-weight: bolder;
    }
  }
}

.checked {
  border-bottom: 2px solid black;
}
