.feelagain__methods {
  width: 100%;
  background: rgb(19, 19, 19);
  border-top: 2px solid darkorange;

  span {
    strong {
      color: darkorange;
    }
  }

  ul {
    min-height: 200px;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    li {
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
      }
      img {
        max-width: 256px;
      }
    }
  }
}

.feelagain__accept {
  background: rgb(43, 43, 43);
  min-height: 50px;
  color: white;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  .feelagain__accept_images {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0.5rem;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    height: 3px;
    width: 100%;
  }
  button {
    padding: 0;
    margin: 0;
  }

  .logo {
    width: 100% !important;
    display: flex;
    margin-bottom: 1rem;
    flex-direction: column;
    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 1rem;
      svg {
        width: 45px !important;
      }
    }
  }

  .columns {
    margin: 1rem 0 2rem 0;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 300fr 380fr 300fr 500fr;
    // grid-template-columns: repeat(3,1fr);
    column-gap: 3rem;
    span {
      font-family: sans-serif;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      font-family: sans-serif;
      li:first-child {
        margin-top: 0.5rem;
      }

      li {
        text-align: left;
        line-height: 1.5;
        width: 100%;
      }
    }

    .social {
      padding-top: 2rem;
      display: flex;
      a {
        color: darkgrey;
        &:hover {
          color: black;
        }
      }
    }

    form {
      margin-top: 0.5rem;
      overflow: hidden;

      input {
        width: 100%;
        float: left;
        padding: 15px 20px;
        text-align: left;
        font-family: inherit;
        font-size: 1.1rem;
        letter-spacing: 0.05rem;
        outline: 0;

        &[type="email"] {
          margin-bottom: 15px;
          border: 1px solid lighten(grey, 50%);

          @media (min-width: 768px) {
            margin-bottom: 0px;
            width: 70%;
            border-right-width: 0px;
          }

          &:focus {
            border-color: grey;
          }
        }

        &[type="submit"] {
          background-color: black;
          color: white;
          border: 1px solid black;

          @media (min-width: 768px) {
            width: 30%;
          }

          &:hover {
            cursor: pointer;
            background-color: darken(black, 10%);
            border-color: darken(black, 10%);
          }
        }
      }
    }

    .column__events {
      display: flex;
      align-items: flex-start;
      flex-direction: column;

      li {
        cursor: pointer;
        &:hover {
          font-weight: bold;
        }
      }
    }
  }

  .copyright {
    display: flex;
    button {
      &:hover {
        background: none;
      }
    }
  }

  img {
    margin-left: 0.5rem;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
