.container {
  background: white;
  margin-bottom: 1rem;
  border: 1px solid darkgrey;
  .header {
    background: #f6f6f6;
    border-radius: 4px;
    padding: 2rem;
    border-bottom: 1px solid darkgrey;
    display: flex;
    justify-content: space-between;

    .header__container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .header__info,
      .header__command,
      .header__command_recap {
        display: flex;
        .header__content,
        .header__content_recap {
          display: flex;
          flex-direction: column;
          margin-right: 2rem;
          span {
            color: #0f1111;
            font-size: 0.85rem;
          }
        }

        .header__command_recap {
          flex-direction: row !important;
          justify-content: space-between;
        }

        .header__content > div {
          margin-right: 0;
        }
      }

      .header__command_recap {
        width: 300px;
      }

      .header__command,
      .header__command_recap > div {
        margin-right: 0 !important;
      }
    }
  }

  .content {
    display: flex;
    padding: 2rem;
    align-items: center;
    justify-content: space-between;
    .left__content {
      max-width: 75%;
      h2 {
        color: darkgreen;
        margin-bottom: 2rem;
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
    }
    .action {
      display: flex;
      flex-direction: column;
      button {
        background: white;
        color: black;
        margin-bottom: 5px;
        padding: 5px 25px;
        border: 1px solid black;
        // box-shadow: 0 1px 0 rgb(255 255 255 / 40%) inset;
        &:hover {
          background: black;
          color: white;
        }
      }
      button:nth-child(1) {
        margin-bottom: 3rem;
        background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
        &:hover {
          background: linear-gradient(to bottom, #f2e0b7, #f0cf7c);
          color: black;
        }
      }
    }
  }
}
