@import "mixins";

.navbar__content {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  padding-left: calc(50% - var(--container-width) / 2) !important;
  padding-right: calc(50% - var(--container-width) / 2) !important;
  width: 100%;
  justify-content: space-between;
  min-width: 280px;
  .navbar__left {
    display: flex;
    justify-content: center;
    align-items: center;

    @include startToBetween() {
      justify-content: flex-end;
    }

    button:last-child {
      margin: 0 !important;
    }
  }

  .hamburger {
    @include show() {
    }
    height: 100%;
  }

  .navbar__links_small,
  .navbar__links {
    display: flex;
    align-items: center;
    a {
      text-rendering: optimizeLegibility;
      margin-left: 3rem;
      padding: 6px 6px;
      letter-spacing: 2px;
      font-family: Oswald, sans-serif;
      font-size: 1.3rem;
      font-weight: 500;
      text-transform: uppercase;
      position: relative;
      width: max-content;
      text-align: left;
      &:hover:before {
        visibility: visible;
        transform: scaleX(1);
      }
    }
    a:before {
      position: absolute;
      width: 100%;
      height: 2px;
      visibility: hidden;
      content: "";
      bottom: -1px;
      transform: scaleX(0);
      transition: all 0.5s ease 0s;
    }
  }

  .navbar__links {
    @media only screen and (max-width: 1024px) {
      display: none;
    }
  }

  .navbar__links_small {
    @include hide() {
      display: flex;
      position: fixed;
      flex-direction: column;
      top: 0;
      right: 0;
      background: rgba(13, 17, 23, 0.85);
      text-align: center;
      align-items: center;
      justify-content: center;
      height: 100vh;
      backdrop-filter: saturate(180%) blur(5px);
      z-index: 550;
      transition: transform 0.3s ease-out;
      transform: translate3d(0);
      width: 50%;

      a {
        margin: 1rem !important;
        font-size: 1.8rem !important;
        &:hover {
          background: unset;
          transform: scale(1.1);
          -webkit-transform: scale(1.1);
        }
      }
    }

    @media only screen and (max-width: 575px) {
      width: 70%;
      a {
        font-size: 1.3rem !important;
        margin: 5px !important;
      }
    }
    @media only screen and (max-width: 320px) {
      width: 100%;
      a {
        margin: 5px !important;
      }
    }
  }

  .navbar__media {
    a {
      margin: 0;
    }
  }

  .navbar__right {
    display: flex;
    align-items: center;
    .search {
      margin-right: calc(var(--space));
      padding-right: 3px;
      display: flex;

      button {
        min-width: 40px !important;
        svg {
          width: 28px;
          height: 28px;
        }
      }
    }
    .navbar__unlogged,
    .navbar__auth {
      .navbar__auth_logout {
        @include hide() {
        }
      }
      a {
        color: #fff;
      }
    }
    .navbar__auth {
      button::after {
        content: "\f107";
        right: 1px;
        font-size: 12px;
        font-weight: bold;
        position: absolute;
        top: 50%;
        margin-top: 0;
        font-family: FontAwesome;
        line-height: 14px;
      }
    }
  }

  .inscription {
    border-width: 1px;
    border: 1px solid;
  }
}

.navbar__content::before {
  content: "";
  bottom: 0;
  height: 1px;
  width: 100%;
  position: absolute;
}

.navbar__basket {
  padding-right: 350px !important;

  @media only screen and (max-width: 575px) {
    padding: unset;
  }
}

.navbar__shop {
  padding-left: 350px !important;
  @media only screen and (max-width: 575px) {
    padding: unset;
  }
}

.hide {
  transform: translate3d(500px, 0, 0);
  position: absolute;
}
