@import "mixins";

.navbar__content {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  padding-left: calc(50% - var(--container-width) / 2) !important;
  padding-right: calc(50% - var(--container-width) / 2) !important;
  width: 100%;
  justify-content: space-between;
  .navbar__left {
    display: flex;
    justify-content: center;
    align-items: center;
    @include startToBetween() {
    }
  }

  .hamburger {
    @include show() {
    }
    height: 100%;
    z-index: 500;
    color: #fff;
  }

  .navbar__links {
    @include hide() {
      display: flex;
      position: absolute;
      flex-direction: column;
      top: 0;
      right: 0;
      background: rgba(5, 30, 57, 0.85);
      text-align: center;
      align-items: center;
      justify-content: center;
      width: 60%;
      height: 100vh;
      backdrop-filter: saturate(180%) blur(5px);
      position: fixed;
      z-index: 100;

      button {
        margin: 0 !important;
        font-size: 1.1rem;
        padding-left: 0 !important;
        &:hover {
          background: unset;
          transform: scale(1.1);
          -webkit-transform: scale(1.1);
        }
      }
    }
    display: flex;
    button {
      margin-left: 3rem;
    }
  }

  .navbar__right {
    display: flex;
    align-items: center;
    .search {
      margin-right: calc(var(--space));
      border-right: 1px solid white;
      padding-right: 3px;
    }
    .navbar__auth {
      .navbar__auth_logout {
        @include hide() {
        }
      }
      a {
        color: #fff;
      }
    }
  }
}

.hide {
  display: none !important;
}
